<div class="container">
  <h1> MoviePop </h1>
  <div class="pocket">
    <h2>5 different excellent movies to pick from</h2>
    <h3>Pick any theartre close to your house</h3>
    <div class="movies">

      <%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>

  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="The Best Movie Ticket Deals In Town!"
          data-amount="500"
          data-locale="auto"></script>

          <% end %>

    </div>
</div>
  <!-- welcoming message for our Tour page -->
<h1>Tour Our Website</h1>

<% if current_user.nil? %>

  <p> Moviepop will change your theartre experience like no other site before us!</p>
<!-- //I want to create a new user record, so I will go to the users path with a post action -->
  <p><%= button_to "Register to access our amazing movie theartre ticket deals!", users_path, method: :post %></p>
<!-- //clear -->
  <p>Did you already register with our website? <%= link_to "Log in", login_path %></p>

  <% else %>
<!-- //clear -->
  <%= form_for Task.new do |f| %>
    <%= f.text_field :name %>
    <%= f.submit "Add Task" %>
    <% end %>

<!-- //clear -->
    <% if @incomplete_tasks.empty? && @complete_tasks.empty? %>
    <p>Curerently no tasks! Add one above!</p>
    <% else %>
    <h2>Incomplete Tasks</h2>
    <div class="tasks" id="incomplete_tasks">
      <%= render @incomplete_tasks %>
    </div>










<!-- <h1>Store#index</h1>
<p>Find me in app/views/store/index.html.erb</p> -->
