<!DOCTYPE html>
<html>
  <head>
    <title>Moviepop</title>
    <%= csrf_meta_tags %>
    <link type='stylesheet' src='assets/css/now-ui-kit.css'>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container"> 
      <nav>
       <input type="checkbox" id="toggle1" class="menu-toggle">

          <label for="toggle1" class="menu-toggle-ui"></label>
          
          <div class="collapse">
            <ul class="main-menu list-unstyled">
              <% if user_signed_in? %>
                Logged in as <strong><%= current_user.email %></strong>.
                <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |</li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
              <% else %>
               <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li> 
               <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
              <% end %>
            </ul>

            
    <div class="nav-logo"><a href='/'>MoviePop!</a></div>
  </nav>
     
 <!--  <a href='/'><div class='logo'></div></a>   -->
 <style>
    h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
    body {font-family: "Open Sans"}
  </style>


<!-- Image header -->
  <header class="display-container wide" id="home">
    <!-- <img class="image" src="infinity-war.jpg" alt="MoviePop" width="1600" height="1060"> -->
    <div class="display-left padding-large">
      <h1 class="text-white">MoviePop!</h1>
      <h1 class="jumbo text-white hide-small"><b>Avengers Infintiy War</b></h1>
      <h6><button class="button white padding-large large opacity hover-opacity-off" onclick="document.getElementById('Coming Soon').style.display='block'">Coming Soon</button></h6>
    </div>
  </header>
  
  </body>
</html>


<%= yield%>

